<div class="user-wrapper">
  <h2 class="title">Listado de usuarios</h2>
    <div class="cards-grid">
        <div *ngFor="let user of users; let i = index" class="card" [ngClass]="'bg-' + (i % 4)">
            <div class="card-header">
                <p class="rate">INFORMACIÓN DE USUARIO</p>
                <button class="bookmark"></button>
            </div>

            <h2 class="role">{{ user.name }}</h2>
            <p class="email">{{ user.email }}</p>
            <p class="phone">{{ user.phone }}</p>
            <p class="city">{{user.address.city}}</p>

            <div class="card-footer">
                <button (click)="showUserDetails(user.id)">Ver detalles</button>
            </div>
        </div>
    </div>
</div>